@import "./colors";
@import "./gearShop";
@import "./cage";
@import "./keyb";
@import "./gearShopCard";
@import "./fishTrader";


.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(#000, .8);
}
.fishing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    *{        
        color: $clr_3;
    }
}